<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NC News routes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</head>
<body>
  <h1>Northcoder News API endpoints</h1>
  <h3>GET /api</h3>
  <p>You are here, viewing this list</p>
  <br>

  <h3>GET /api/topics</h3>
  <p>A list of all topics</p>
  <br>

  <h3>GET /api/topics/:topic/articles</h3>
  <p>A list of all articles for the specified topic</p>
  <br>

  <h3>POST /api/topics/:topic/articles</h3>
  <p>Create a new article for a specified topic</p>
  <br>

  <h3>GET /api/articles</h3>
  <p>A list of all articles regardless of topic</p>
  <br>

  <h3>GET /api/articles/:article_id</h3>
  <p>View an individual article based on ID</p>
  <br>

  <h3>GET /api/articles/:article_id/comments</h3>
  <p>A list of all the comments for a specified article</p>
  <br>

  <h3>POST /api/articles/:article_id/comments</h3>
  <p>Add a new comment for a specified article</p>
  <br>

  <h3>PUT /api/articles/:article_id</h3>
  <p>Upvote or downvote an article</p>
  <br>

  <h3>PUT /api/comments/:comment_id</h3>
  <p>Upvote or downvote a comment</p>
  <br>

  <h3>DELETE /api/comments/:comment_id</h3>
  <p>Delete a comment</p>
  <br>

  <h3>GET /api/users/:username</h3>
  <p>View a user based on username</p>
  <br>

</body>
</html>